body::after {
  content: "";
  background: url('./images/travel.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
}

.total {
  font-family: Righteous, Helvetica, sans-serif;
  letter-spacing: 7px;
}

button, input {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  ;
}

table {
  width: 100%;
  position: relative;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #6666ff;
  text-align: center;
  font-weight: bold;
  font-family: Righteous, Helvetica, sans-serif;
  letter-spacing: 7px;
  position: sticky;
  top: 0;
}

.transaction {
  font-family: Delius, Arial, Helvetica, sans-serif;
}

.align-rt {
  text-align: right;
  font-family: Arial;
}

.negRed {
  color: red;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: white;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}